<div class="text-success">
  <%= flash[:notice] %>
</div>

<div class=show_contents>
   <span><b>Title:</b></span>
   <span><%= @book.title %></span>
</div>

<div class=show_contents>
   <span><b>Body:</b></span>
   <span><%= @book.body %></span>
</div>

<div class=link>
 <!--編集-->
   <%= link_to "Edit", edit_book_path(@book.id) %>

   |

 <!--indexに戻る-->
   <a href="/books">Back</a>
</div>