<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/28849d95ea.js" crossorigin="anonymous"></script>

    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
    <title>Bookers_top</title>
  </head>

<body>
  <header>
    <h1>ようこそBookersへ！</h1>
  </header>

<main>
    <p>Bookers では、さまざまな書籍に関するあなたの意見や

     印象を共有し交換することができます</p>


     <a href="/books">start</a>
</main>

</body>
</html>